.d-flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.conteiner{
    width: 1000px;
}
.header, .nav, .footer{
    height: 100px;
}
.header{
    background: darkred;
}
.nav{
    background: hotpink;
}
.content{
    height: 300px;
}
.main{
    width:700px;
    background: #3e2121;
}
.aside{
    flex: 1;
    background: #7a2c2c;
}
.footer{
    background: deeppink;
}
.header, .main, .aside,.footer,.nav{
    font-size: 20px;
    color: aliceblue;
}