.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #181c73;
    font-size: 35px;
}
.conteiner{
    width: 1000px;
    border: 5px solid rebeccapurple;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}
.main{
    display: flex;
    margin-top: 5px;
    column-gap: 5px;
}
.header{
    height: 100px;
    background: #56b91e;
}
.main_left_content {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    flex: 1;
}

.left_content_item{
    flex-grow: 1;
    height: 100px;
    width: 31%;
    background: #56b91e ;
}
.main_right_content{
    width: 20%;
    background: #56b91e;
}