.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    color: deeppink;
    font-size: 35px;
}
.conteiner{
    width: 1000px;
    border: 5px solid rebeccapurple;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}
.main{
    display: flex;
    margin-top: 5px;
    column-gap: 5px;
}
.header, .left_header{
    height: 100px;
    background: darkgray;
}
.main_left{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}
.left_content{
    display: flex;
    column-gap: 5px;
}
.left_content_item{
    flex-grow: 1;
    height: 100px;
    background: darkgray;
}
.main_right{
    width: 20%;
    background: darkgray;
}