main {
  height: 100vh;
  background: url("../image/bg.png") no-repeat center/cover;
}

.header {
  align-items: center;
  padding-top: 50px;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 23px;
  border-right: 1px solid white;
  padding-right: 15px;
  height: 60px;

}
.nav__item a{
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav__item img{
  width: 20px;
}

.header__phone{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  width: 155px;
}
.header__contact{
  display: flex;
  align-items: center;
  column-gap: 45px;
  padding-left: 15px;
}

.action-button {
  color: #FFFFFF;
  background: #FF7400;
  height: 47px;
}

.banner{
  font-weight: normal;
  color: #D67E35;
  margin-top: 200px;
  text-align: center;
}
.banner h2{
  font-size: 50px;
  line-height: 57px;
  margin-left: 24px;
}
.banner h1{
  font-size: 80px;
  line-height: 92px;
}
.banner p{
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;

}
.banner p::before,
.banner p::after {
  content: '';
  display: block;
  width: 61px;
  height: 2px;
  background: lightgrey;
}
.banner p::before{
  margin-right: 10px;
}
.banner p::after{
  margin-left: 10px;
}

.nav__btn_mobile{
  display: none;
  width: 50px;
  flex-direction: column;
  row-gap: 4px;
}
.nav__btn_mobile div{
  height: 3px;
  background: #FF7400;
  border-radius: 50px;
}
.card__row{
  display: flex;
  justify-content: space-between;
  row-gap: 31px;
}

.card__item {
  height: 328px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}

h3 {
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #2C2C2C;
  margin-bottom: 20px;
}
.card__item img{
  width: 126px;
  height: 104px;
  margin-top: 35px;
}
.card__item p{
  margin: 0 15px;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #656363;
}
