@media screen and (max-width: 480px){
    body{
        padding: 0 5px;
    }
    .navigation__option {
        height: 5px;
        width: 30px;
    }
    .header__text {
        margin: 20px 50px;
    }
    .gallery-squared{
        padding: 20px 20px;
    }
    .gallery-squared__list{
        flex-wrap: wrap;
    }
    .gallery-squared__item{
        flex: none;
        width: 44%;
    }
    .gallery-rounded{
        flex-direction: column;
    }
}
